

.navbar {
  display: block;
  
  padding: 5px;
  background-color: #222;
  color: white;
  position: sticky;
   top: 0; 
  z-index: 1000;
}

.logo {
  font-size: 1s.5rem;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}
.logo img{
  margin: 0%;
  padding: 0%;
  height: 30px;
  width: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center; 
  margin-bottom: 10px;
  
 
              
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  
}

/* Responsive */
/* Extra Small Devices - Phones (portrait, less than 400px) */
@media (max-width: 399px) {
  /* styles here */
  .navbar{
    width: 500px;
  }
  .nav-links {
  display: flex;
  gap: 10px;
  justify-content: center; 
  margin-bottom: 10px;
  
}

}
@media (min-width: 400px) and (max-width: 440px) {
.navbar{
   
   width: 440px;
   
  }
   .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 1.5rem;
  }

}
/* Small Devices - Phones (400px to 599px) */
@media (min-width: 401px) and (max-width: 599px) {
  .navbar{
   
   flex-direction: column;
   margin: 0%;
   
  }
   .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 1.5rem;
  }
}

