.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    height: 80px;
    margin: 0%;
   background-color: #222;
    p{
        font-size: 1.1rem;
        
    }
}

@media (max-width:395px){
    .footer{
        width: 400px;
    }
    
}